body {
    font-size: 1.2em;
}

.profile-links-list {
    list-style: none;
    padding-left: 0;
}

.profile-links-list li {
    margin-bottom: 0.5em;
}

.profile-link {
    text-decoration: none;
}

.profile-link:hover {
    text-decoration: underline;
}
